.App {
  text-align: left;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #555555;
  color: #FFFFFF;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #666666;
}
